.timeline {
    flex: 0.45;
    border-right: 1px solid var(--twitter-bgc) !important;
    overflow-y: scroll;
}

.timeline::-webkit-scrollbar {
    display: none;
}

.timeline__header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    border: 1px solid var(--twitter-bgc) !important;
    padding: 5px 20px;
}

.timeline__header > h2 {
    font-size: 20px;
    font-weight: 800;
}